.container{
  max-width:450px;
    height: 500px;
    border: 1px solid #495060;
    background-color:#858DB1;
    border-radius :15px;
    margin-top :20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
h1{
    color: white;
    text-align :center;
    margin-top :12px;
    filter: drop-shadow(1px 1px 30px #9caa90) ;
}
.submit{
    background :#6B6F7E;
    color: #D1DAEE;
    margin-top :6px;
}
.form{
    display :flex;
    justify-content :center;
}
.lable{
    color: white;
}
.submit:hover{
background-color:#414658;
    
}
